# Symfony
/.env
/.env.local
/.env.test
/.phpunit.result.cache
/var/
/vendor/
/public/bundles/
/public/build/

# React
/admin/node_modules/
/admin/.cache/
/admin/.vscode/
/admin/.env.local
/admin/.env.development.local
/admin/.env.test.local
/admin/.env.production.local
/admin/build/
/admin/npm-debug.log*
/admin/yarn-debug.log*
/admin/yarn-error.log*

# General
/.idea/
/.vscode/
/.DS_Store
/node_modules/
/build/
/dist/
/.npm
/.yarn
/.pnp
.pnp.js